@model DataBase.Entities.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => Model.ID)
    <div class="row">
        <div class="col-sm-4">@Html.LabelFor(m => Model.Name)</div>
        <div class="col-sm-4">@Html.EditorFor(m => Model.Name)</div>
        <div class="col-sm-4">@Html.ValidationMessageFor(m => Model.Name, "", new { @class = "text-danger"})</div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">@Html.LabelFor(m => Model.Price)</div>
        <div class="col-sm-4">@Html.EditorFor(m => Model.Price)</div>
        <div class="col-sm-4"></div>
    </div>
    <br />
    <input type="submit" value="Save" class="btn btn-default" />
}
<br />
<div>
    @Html.ActionLink("BACK", "Index")
</div>
